body {
    background-image: url('/static/images/pool.png');
    background-repeat: repeat;
    text-align: center;
    height: 95vh;
    margin: 0;
}

a {
    color: white;
    text-decoration: underline white;
}

a:visited {
    color: #9146ff;
    text-decoration: #9146ff;
}

h1.header {
    font-family: 'bjork';
    color: white;
    top: 0;
    display: inline-block;
    z-index: 2;
}

.body {
    height: 95vh;

    display: grid;
    grid-template-areas:
        "  .   "
        "stream"
        " sched"
        "  .   ";
    grid-template-rows: 2.5% 15% 80% 2.5%;
}

#vanta {
    width: 100vw;
    height: 100vh;
    position: absolute !important;
    top: 0 !important;
    z-index: -1;
}

.schedule {
    grid-area: sched;
    color: white;
    background-color:  rgba(54, 51, 59, 0.61);

    overflow-y: auto;
    overflow-x: hidden;
    
    display: flex;
    flex-direction: column;
}

.schedule > .list-el > img {
    height: auto;
    width: 85%;
}

#twitch-container {
    grid-area: stream;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#twitch-embed {
    height: 95%;
    width: 100%;

    display: none;
}

#watch-on-twitch {
    background: rgba(54, 51, 59, 0.726);
    padding: 1em 0 1em 0;
    width: 100%;
}

#twitch-logo {
    height: 6ex;
    display: block;
    overflow: hidden;
    background: url("/static/images/Twitch-Wordmark-White.svg") no-repeat center;
}

#stream-live {
    font-size: xx-large;
    color: white;
}

#effect-control {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* @media only screen /*and (max-width: 425px) and (orientation: portrait) {
    .body {
        grid-template-areas:
            "  .      .      .      .   "
            "stream stream stream stream"
            " sched  sched sched  sched "
            "  .      .      .      .   ";
        grid-template: 2.5% 20% 60% 2.5% / repeat(4, 1fr);
        row-gap: 5%;
    }

    #twitch-embed {
        display: none !important;
    }

    #watch-on-twitch {
        background: rgba(54, 51, 59, 0.726);
        padding: 1em;
    }

    #stream-live {
        font-size: xx-large;
        color: white;
    }
} */

@media only screen and (min-width: 426px) and (orientation: landscape) {
    h1.header {
        margin-top: 0.25vh;
    }

    .body {
        grid-template: 85vh / 2.5% 60% 20% 2.5%;
        grid-template-areas: ".   sched stream  .";
        column-gap: 5%;
    }

    #twitch-embed {
        display: none !important;
    }

    #watch-on-twitch {
        background: rgba(54, 51, 59, 0.726);
        padding: 1em;

        height: 92.5%; /* XXX: ??? */
    }

    #stream-live {
        font-size: xx-large;
        color: white;
    }
}

@media only screen and (min-width: 1201px) {
    .body {
        width: 100%;
        height: 92.5vh;
        position: absolute;
        top: 0;
        padding-top: 7.5vh;
        column-gap: normal;
        
        grid-template: 85vh / 7.5%  20%   65%   7.5%;
        grid-template-areas: ".   sched stream  .";
    }

    #twitch-container {
        grid-area: stream;
        background: rgba(54, 51, 59, 0.61);
        padding: 1em 1em 0 1em;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #watch-on-twitch {
        height: 0;
        display: none !important;
    }

    #twitch-embed {
        display: unset !important;
    }
}

